body{
    background-color: #02060c;
    z-index: 0;
    overflow-x: hidden;
}

.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    color: #a6d5ec;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

.title-row{
    margin: 0 auto;
    padding-top: 3em;
}

.navigation{
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
}

.nav-item:hover, .active{
    background-color: #5cb3fd;
    transition: background-color 1s;
}

.nav-item > a, .nav-item{
    color: #e2e845;
}

.nav-item:hover > a{
    color: #1d1e1f;
}

.active > a{
    color: #1d1e1f;
}

.nav-item:hover{
    color: #1d1e1f;
}

.nav-container{
    position: fixed;
    border-bottom: 2px solid #FFF;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    background-color: #02060c;
    z-index: 1;
}

.logo{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

#inlineFormInput{
    width: 70%;
}

#graph{
    background-color: #fff;
    border:1px solid #000000;
}

.graphSpace{
    margin-top: 2em;

}